<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="app.config">
		<add key="Username" value=""/>
		<add key="DatabaseHost" value="192.168.0.23"/>
		<add key="Database" value=""/>
		<add key="Password" value="123mudar"/>
		<add key="SystemPath" value="C:\SIG\Expedicao S.I.G\"/>
		<add key="UpdateInfoUrl" value="http://192.168.0.49/downloads/expedicao/version.json"/>
		<add key="SyncfusionLicense" value="MTU4NUAzMjM3MkUzMTJFMzluT08wbzRnYm4zUlFDOVRzWVpYbUtuSEl0aUhTZmNMYjQxekhrV0NVRnlzPQ=="/>
		<add key="EnableSensitiveDataLogging" value="false"/>
	</appSettings>
</configuration>
